

body{
    background-color: #EFFFFB;
    margin: 0px;
}

.country_image img {
    max-height: 300px;
    
}

.country_section {
    margin-left:50px;
    margin-right:50px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom:50px;
    padding-bottom: 50px;
    border-bottom: 3px solid #4FD890;
}

.country_info {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    
}

.section_paragraph {
    max-width: 400px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #4F98CA;
    margin: 0px;
}

.logo-resize img {
    max-height: 100px;
}

.nav-bar-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-basis: 75%;
    font-size:larger;
    font-family: 'Archivo Black', sans-serif;
}

.nav-list-item {
    margin: 25px;
    
}

.nav-list-item-active {
    /* margin: 15px;
    border: solid;
    border-color: #EFFFFB;
    background-color: #4FD890; */
    border-top: #EFFFFB solid 3px;
    border-bottom: #EFFFFB solid 3px;
    justify-content: center;
    padding-bottom: 0px;
    margin: 15px;
    margin-top: 12px;
    padding-top: 10px;
    padding-bottom: 10px;


}

a {
    text-decoration: none;
}


.cat{
    width: 30%;
    min-width: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color:  #EFFFFB;
    margin-bottom:30px;
    margin-left:10px;
    margin-right:10px;
  
}

.cat-heading{
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    font-family: 'Archivo Black', sans-serif;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #272727;
    color:white;
    
}

.cat-list{
    padding-right: 25px;
    flex-wrap:wrap;
    align-items: flex-start;
    justify-content: space-between;
    font-size:20px;
    border-radius: 10px;
    font-family: 'Judson', serif;
    color: #EFFFFB;
    padding-top: 10px;
    padding-bottom: 25px;
    min-height: 150px;

}

.categories {
    margin-top: 50px;
    margin-bottom:100px;
    flex-basis: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

h2 {
    font-family: 'Archivo Black', sans-serif;
    color:#272727;
    font-size: 30px;
}

.index-heading{
    font-size: 50px;
    margin-bottom: 100px;
}

h1{
    padding-top:30px;
    padding-bottom: 100px;
    margin-top: 0px;
    font-family: 'Archivo Black', sans-serif;
    color:#272727;
    text-align: center;
    background-image: linear-gradient(#4FD890,#EFFFFB);
}

.country_heading {
    text-align: center;
}
.main_heading{
    text-align: center;
}
#germany_images{
    display: flex;
    flex-basis: 45%;
    justify-content: space-evenly;
}

section div img {
    flex-direction: row;
    width: 600px;
    height: 300px;
}

.belgium-pano img {
    width: 100%;
    margin-bottom: -5px;
}

.main_img img{
    width:100%;
    margin-bottom: -5px;
}

.country_image_ireland img{
    width:100%;
    margin-bottom: -5px;

}


footer {
    background-color: #4FD890;
    padding-top: 10px;
    padding-bottom: 10px;
}


button {
    color:white;
    background-color: #4F98CA;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:20px;
    padding-right:20px;
    border: white;
    border-radius: 5px;

}
button:hover{
    color:#272727;
    background-color: #4FD890!important;
    border: white;
    border-radius: 7px;
}

.cat:hover{
    background-color: #4F98CA;
}

.contact-info{
    display:flex;
    background-color: #4FD890;
    padding-left: 4%;
    padding-bottom: 10px;
    padding-top: 10px;

}

    
.number{
    margin-right: 10px;
    margin-left: 10px
}