



.country_image img {
    max-height: 300px;
    
}

.country_section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    padding-bottom: 50px;
    border-bottom: 3px solid #4FD890;
}

.country_info {
    margin-left: 50px;
    margin-right: 50px;
    
}

.section_paragraph {
    max-width: 400px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #4F98CA;
    margin: 0px;
}

.logo-resize img {
    max-height: 100px;
}

.nav-bar-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: space-around;
    flex-basis: 75%;
}

.nav-list-item {
    margin: 15px;
}

.nav-list-item-active {
    margin: 15px;
    border: solid;
    border-color: #EFFFFB;
    background-color: #4FD890;


}


.cat{
    max-width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #272727;
    color:white;
    
}

.cat-heading{
    text-align: center;
    font-size: 25px;
    font-family: 'Archivo Black', sans-serif;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.cat-list{
    padding-right: 25px;
    flex-wrap:wrap;
    font-size:20px;
    border-radius: 10px;
    font-family: 'Judson', serif;
    background-color: #4F98CA;
    padding-top: 10px;
    padding-bottom: 25px;

}



.categories {
    margin-top: 50px;
    margin-bottom:100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

h1{
    font-family: 'Archivo Black', sans-serif;
    text-align:center;
    color:#272727;
}

.ireland-img-resize {
    max-width: 600px;
}